*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size:60px;
}

.options{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

button{
    font-size: 18px;
    background: #6674ef;
    color: white;
    border: 1px black solid;
    border-radius: 5px;
    padding: 2px;
}

input,
button{
    cursor: pointer;
}

.container {
    margin-top:30px;
    height:520px;
    width:520px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.grid-square{
    border:1px black solid;
}

